/**
 * Created by Oleynicov_EV on 14.12.2016.
 * Мои таблицы стилей
 */

body {
  color: #000033;
  background: #F7F7F7;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.content {
  top: 60px;
  min-height: 835px;
}

.container-body { min-height: 725px; }

.box:first-child {
  border-left: 1px solid rgba(119, 119, 119, 0.44);
}

.box {
  display: table;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid rgba(119, 119, 119, 0.44);
  border-right: 1px solid rgba(119, 119, 119, 0.44);
  border-bottom: 1px solid rgba(119, 119, 119, 0.44);
  border-left: 0;
}

.box-square {
  display: table;
  padding: 10px 10px 10px 10px;
  border: 1px solid rgba(119, 119, 119, 0.44);
}

@media screen and (max-width: 991px){
  .box { border-left: 1px solid rgba(119, 119, 119, 0.44); }
}

.required { color: red; }

/* нумирация вложенных списков */
ol li
{
  list-style-type: none !important; /* Убираем нумерацию в браузерах Опера, Safari, Файер фох */
  list-style-type: decimal; /* Оставляем нумерацию в браузере ИЕ6 и ниже */
}

ol, ol li { margin-top: 10px; } /* делаем отступы */

ol {  counter-reset: list1; } /* Список первого уровня */
ol ol { counter-reset: list2; } /* Список второго уровня*/
ol ol ol { counter-reset: list3; } /* Список третьего уровня*/

ol li:before  /* Список первого уровня */
{
  float: left;
  counter-increment: list1; /* Увеличиваем значение счетчика */
  content: counter(list1) ". "; /* Выводим значение в виде 1., 2.*/
}

ol ol li:before  /* Список второго уровня */
{
  counter-increment: list2; /* Увеличиваем значение счетчика */
  content: counter(list1) "." counter(list2) ". "; /* Выводим значение типа 2.1, 2.2,... */
}

ol ol ol li:before  /* Список второго уровня */
{
  counter-increment: list3; /* Увеличиваем значение счетчика */
  content: counter(list1) "." counter(list2) "." counter(list3) ". "; /* Выводим значение типа 2.1.1, 2.2.2,... */
}
/*---// нумирация вложенных списков */

input, select { height: 28px; }
input, select, textarea {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

input[type="file"] { border-width: 0px; }

.block_files input[type="file"] { float: left; }

.block_files a { color: red; }

.nav_ref_info {
  min-height: 625px;
  border: 1px solid rgba(119, 119, 119, 0.44);
  border-radius: 6px;
}

.nav_ref_info > ul {
  list-style: square;
  font-weight: bolder;
}

.nav_ref_info > ul > li > a {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid rgba(119, 119, 119, .2);
}

table.dataTable th.focus,
table.dataTable td.focus {
  outline: 3px solid rgba(35, 116, 186, .5);
  outline-offset: -1px;
}

td.details-control {
  background: url('/assets/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/assets/images/details_close.png') no-repeat center center;
}

.hied_fone {
  color: #000033;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.bg { background-color: rgba(153, 51, 51, 0.22); }

.margin_zero { margin: 0; }
.padding_zero { padding: 0; }

.save_data {
  display: none;
  position: fixed;
  top: 25%;
  left: 0px;
  z-index: 10;
  min-height: 10%;
  min-width: 100%;
  background-color: rgba(47, 82, 124, 0.75);
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}

.tab {
  padding: 6px 12px;
  margin: 0 0 0 5px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 4px;
  text-decoration: none;
  color: #337ab7;
}

.sub-menu { padding: 0; }

.sub-menu li {
  display: block;
  list-style-type: none;
  padding: 2px 0 2px 40px;
}

.sub-menu li a {
  color: #333;
  text-decoration: none;
}

.sub-menu > li:hover,
.sub-menu > li:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

[v-cloak] {
  display: none;
}

.input_mini { width: 60px; }
.input_sm { width: 90px; }

@media print { /* стили для печати */
  .no-print { display: none; }
}

#success_msg, #error_msg {
  position: relative;
}
#i_success_msg, #i_error_msg {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 8px;
  font-size: 19px;
}

.readonly{
  border: 0;
  background-color: #F7F7F7;
}