<template>
    <div>
        <select-template :id="id" :options="month" :myclass="myclass"
                :select_element="select_element" :add_new_elements="add_new_elements"
                :placeholder="placeholder" :placeholder_disabled="placeholder_disabled">
        </select-template>
    </div>
</template>
<script>
    import Template from './select_template.vue'

    export default  {
        name: 'month_select',
        components: {
            selectTemplate: Template
        },
        props: {
            id: {
                type: String,
                default: 'month'
            },
            myclass: {
                type: String,
                default: ''
            },
            select_element: {
                typt: Number,
                default: 0
            },
            placeholder: {
                type: String,
                default: null
            },
            placeholder_disabled: {
                type: Boolean,
                default: true
            },
            add_new_elements: {
                type: Array,
                default: function(){return []}
            },
        },
        data: function(){
            var month_array = [
                {id: 1, name: 'январь'},
                {id: 2, name: 'февраль'},
                {id: 3, name: 'март'},
                {id: 4, name: 'апрель'},
                {id: 5, name: 'май'},
                {id: 6, name: 'июнь'},
                {id: 7, name: 'июль'},
                {id: 8, name: 'август'},
                {id: 9, name: 'сентябрь'},
                {id: 10, name: 'октябрь'},
                {id: 11, name: 'ноябрь'},
                {id: 12, name: 'декабрь'}
            ];
            var length = this.add_new_elements.length;
            if(length > 0){
                for(var i =0; i < length; i++){
                    month_array.unshift(this.add_new_elements[i]);
                }
            }
            return { month: month_array };
        }
    }
</script>