<template>
    <div>
        <select-template :id="id" :tmp="tmp" :options="options" :myclass="myclass"
                         :select_element="select_element"
                         :placeholder="placeholder" :placeholder_disabled="placeholder_disabled">
        </select-template>
    </div>
</template>
<script>
    import Template from './select_template.vue'

    export default {
        name: 'my_select',
        components: {
            selectTemplate: Template
        },
        props: {
            id: {
                type: String,
                default: 'select'
            },
            myclass: {
                type: String,
                default: ''
            },
            options: {
                type: Array,
                default: []
            },
            select_element: {
                typt: Number,
                default: 0
            },
            placeholder: {
                type: String,
                default: null
            },
            placeholder_disabled: {
                type: Boolean,
                default: true
            },
            tmp: {
                type: Object,
                default: null
            },
        }
    }
</script>