<template>
    <div>
        <select :id="id" v-on:change="changeElement($event)" :class="myclass">
            <option v-for="(value, index) in options" :value="value.id" :key="index"
                    :selected="value.select" :disabled="value.disabled" :hidden="value.hidden"
                    v-bind:class="{placeholder: value.active_placeholder}">
            {{value.name}}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        name: 'select_template',
        props: {
            id: {
                type: String,
                default: 'select_template'
            },
            myclass: {
                type: String,
                default: ''
            },
            options: {
                type: Array,
                default: []
            },
            select_element: {
                typt: Number,
                default: 0
            },
            placeholder: {
                type: String,
                default: null
            },
            placeholder_disabled: {
                type: Boolean,
                default: true
            },
            tmp: {
                type: Object,
                default: null
            },
        },
        data: function(){
            return {
                selected_el: 0,
            }
        },
        beforeMount: function(){
            let that = this;
            if(this.placeholder != null) {
                this.options.unshift(
                        {
                            id: null,
                            name: this.placeholder,
                            select: 'selected',
                            disabled: this.placeholder_disabled,
                            hidden: this.placeholder_disabled,
                            active_placeholder: true,
                        }
                );
            }
            else {
                this.options.map(function(name, i) {
                    if (that.select_element == name.id) {
                        that.selected_el = i;
                        name['select'] = 'selected';
                    }
                    else
                        name['select'] = '';
                    return name;
                });
                this.$parent.$emit('select', that.selected_el, this.options[ that.selected_el].name, this.options[ that.selected_el ], this.tmp);
            }
        },
        methods: {
            changeElement: function(e){
                var index = e.target.options.selectedIndex;
                this.$parent.$emit('select', e.target.value, e.target.options[index].innerHTML, this.options[index], this.tmp);
            },
        }
    }
</script>