body {background:#ffffff;background-image:none; padding:0}
               
/* Original hacks by Jonathon Joyce (edited) */
.row {margin:0;margin-left:-20px}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12  {float:left;display:inline}
.last-child {margin-right:0}
.margin-left-20 {float: left;margin-left: 20px}

/* Navbar */
.nav-collapse {width:auto}
.nav li a {display: block}
.navbar .nav .active  a, .navbar .nav .active  a:hover {background-color:#000;color: #FFFFFF;text-decoration: none}
    .navbar .nav li {display:block;float:left}
        .navbar .nav li a {float:none;line-height:19px;padding:10px 10px 11px}
        .navbar .nav li a:hover {background-color:transparent;color:#ffffff;text-decoration:none}

        .navbar .nav .active a, 
            .navbar .nav .active a:hover {color:#ffffff;text-decoration:none;background-color:#222222;background-color:#000}
        .navbar .nav .open .dropdown-toggle, 
            .navbar .nav .active .dropdown-toggle,
            .navbar .nav .open.active .dropdown-toggle{background-color:transparent}
        .navbar .nav .active .dropdown-toggle:hover {color:#ffffff}

    .dropdown .dropdown-toggle {margin-bottom:1px;position:relative;top:2px;left:0px}
    
    .dropdown-menu li {width:100%}
        .dropdown-menu li a {width:100%;padding:3px 0px 3px 5px}
        .dropdown-menu li a:hover, 
        .dropdown-menu .active a, 
        .dropdown-menu .active a:hover {background-color:#0088CC;color:#FFFFFF;text-decoration:none}

/* Tabs */
.nav-tabs li {float:left;display:inline;margin-bottom:-2px}
    .nav-tabs li a {padding: 9px 12px;line-height:14px;margin-right:2px}
        .nav-tabs li.active {background:none;border:1px solid #ddd;border-color:#eeeeee #eeeeee #dddddd}

.tab-content .tab-pane {display:none}
.tab-content .tab-pane.active {display:block;background-color:transparent}
               

/* Forms */
.button-reset {height:auto;width:auto;margin-bottom:0px}
.input-text {display:inline-block;line-height:18px;height:18px;padding:4px;margin:0px;margin-bottom:9px;border:1px solid #ccc;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif}
.help-inline {display:block;line-height:18px;height:18px;padding:4px 0px 4px 5px}

label.checkbox {display:block;line-height:18px;height:18px;width:100%;padding-left:0px;margin: 0px 0px 9px -2px}
.input-checkbox {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

label.radio {display:block;line-height:18px;height:18px;width:100%;padding-left:0px;margin:0px 0px 9px -2px}
.input-radio {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

.form-inline label.checkbox {display:inline-block;line-height:18px;height:18px;width:auto;padding-left:0px;margin: 0px}
.form-inline .input-checkbox {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

legend { width:auto}	

.form-horizontal .help-block {display:inline-block;margin-left: 3px}
.form-horizontal .control-label {float:left;display:inline-block;width:140px;text-align:right;padding-top:5px}
.form-horizontal label.checkbox {display:inline-block;line-height:18px;height:18px;width:auto;padding-left:0px;margin: 0px 9px 9px 0px}
.form-horizontal .input-checkbox {margin-left:-3px;}
.form-horizontal .input-multiple {height: auto;}
.form-horizontal .input-file {display:inline-block;line-height:24px;height:24px;width:220px;padding:4px}
.btn-primary {margin-right:4px}

.disabled {cursor:not-allowed}
.control-group.warning  label, .control-group.warning .help-block, .control-group.warning .help-inline {color:#C09853}
.control-group.error label, .control-group.error .help-block, .control-group.error .help-inline {color:#B94A48}
.control-group.success label, .control-group.success .help-block, .control-group.success .help-inline {color:#468847}

input.span1, input.span2, input.span3, input.span4, input.span5, input.span6, input.span7, input.span8, input.span9, input.span10, input.span11, input.span12,
select.span1, select.span2, select.span3, select.span4, select.span5, select.span6, select.span7, select.span8, select.span9, select.span10, select.span11, select.span12  {float:left;display:inline-block;margin:0px}
/*.doc-input-sizes input, .doc-input-sizes select {display: block; float:none; margin:0px; margin:bottom: 9px; }*/

input.btn, a.btn, button.btn {height:auto;width:auto}
.input-prepend input {margin-top:1px}

/* Icons */
.icon-sprite {background-image:url("img/glyphicons-halflings.png");background-repeat:no-repeat;display:inline-block;height:14px;line-height:14px;vertical-align:text-top;width:14px;padding-left:3px}
.icon-white {background-image:url("img/glyphicons-halflings-white.png");}

/* Navbar */
.dropdown .caret {font-size:1px;height:2px;background:none;background-color:#292929;color:#292929}

/* Pagination */
.pagination-first-child {border-left-width:1px !important}

/* Images */
ul.thumbnails {margin-left:-20px;float:none;display:inline-block;zoom:1;clear:both}
.thumbnails li {float:left;margin:0 0 18px 20px}

/* Tooltips */
.tooltip.top .tooltip-arrow, .tooltip.right .tooltip-arrow, .tooltip.bottom .tooltip-arrow, .tooltip.left .tooltip-arrow {display:none}
.tooltip.top {margin-top:5px}
.tooltip.bottom {margin-top:-5px}

/* Popover */
.popover{opacity:1;filter:alpha(opacity=100)}
.popover.top .arrow, .popover.right .arrow, .popover.bottom .arrow, .popover.left .arrow {display:none}
.popover.top{margin-top:-7px}
.popover.bottom{margin-top:7px}

/* Buttons */
.btn {margin-left:0px;padding:2px 8px}
.btn:hover {opacity:.4;filter:alpha(opacity=40);background-color:transparent;background-position:0 0; color: #000000}

/* Modal */
.modal {position:relative;filter:alpha(opacity=99);top: 55%}
    .modal-header a.close {cursor: pointer}