// пряди
<template>
    <div class="rope_strands" v-if="data_s.length > 0">
        <input type="button" class="btn btn-success" value="Сохранить"
               :disabled="disabled_s" v-on:click="save_s" />
        <a class="btn btn-danger" @click="get_diam_s(id_gost_r)"><i class="fa fa-refresh"></i> Обновить </a>
        <table cellspacing="0" cellpadding="2">
            <thead>
                <tr>
                    <th>Ø каната</th>
                    <th>конст-ия пряди</th>
                    <th>название</th>
                    <th>Ø пряди</th>
                    <th>шаг свивки пряди</th>
                    <th>
                        Кратность<br>
                        (для проволоки)
                    </th>
                </tr>
            </thead>
            <tbody>
            <template v-for="(item, index) in data_s"
                      v-if="( (item.diam_r.indexOf(diam_search) != -1 || diam_search.length == 0) )
                           && ( strand_r_selected == '' || strand_r_selected == item.name_strand )">
                <tr :class="{bgGray: item.display}" :key="index">
                    <td><span v-if="item.display">{{ item.diam_r }}</span></td>
                    <td>{{ item.const }}</td>
                    <td>{{ item.name_strand }}</td>
                    <td><input type="number" @change="eventChange(index)" v-model="item.diam_s" /></td>
                    <td><input type="number" @change="eventChange(index)" v-model="item.step_s" /></td>
                    <td>{{ (item.step_s != null && item.step_s > 0 && item.diam_s != null && item.diam_s > 0) ?(item.step_s/item.diam_s).round(1) : null }}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    export default {
        name: 'ropeStrands',
        props: ['id_gost_r', 'diam_search', 'strand_r_selected'],
        data: function() {
            return {
                data_s: [],
                disabled_s: false,
                edit: [],
            }
        },
        watch: {
            id_gost_r: function(newVal) {
                this.data_s = [];
                this.edit = [];
                this.get_diam_s(newVal);
            }
        },

        beforeMount: function() {
            console.log('component rope_strands loaded');
            this.get_diam_s(this.id_gost_r);
        },
        methods: {
            get_diam_s: function(id_gost_r) { // получить список диаметров каната
                let that = this;
                $.post('/edit/ajax_getStrandInfo/' + id_gost_r)
                    .done(function(res) {
                        let dt = JSON.parse(res);
                        let curDiam = 0;
                        dt.forEach(function(item, i) {
                            if (curDiam != item.diam_r)
                                dt[i].display = true;
                            else dt[i].display = false;
                            curDiam = item.diam_r;
                        });
                        that.data_s = dt;
                    })
                    .fail(function(err) {
                        console.error('comp: rope_strand; method: get_diam_s(); error: ' + err + '; 1');
                    })
                    .always(function(){
                        that.$emit('dataloaded', true);
                    });
            },
            save_s: function() { // сохранить данные по прядям
                this.disabled_s = true;
                let that = this;
                $.post('/edit/ajax_save_s/', {
                    data_s: JSON.stringify(that.edit)
                })
                    .done(function(data) {
                        if(data == true) that.$emit('message', true);
                        else {
                            that.$emit('message', false);
                            console.error('comp: rope_strand; method: save_s(); error: false; 2');
                        }
                        that.get_diam_s(that.id_gost_r);
                        that.disabled_s = false;
                    })
                    .fail(function(err) {
                        that.$emit('message', false);
                        that.disabled_s = false;
                        console.error('comp: rope_strand; method: save_s(); error: ' + err + '; 3');
                    })
                    .always(function() {
                        that.edit = [];
                        that.get_diam_s(that.id_gost_r);
                    });
            },
            eventChange: function(index) {
                this.edit[index] = this.data_s[index];
            },
        }
    }
</script>

<style scoped>
    .rope_strands .btn {
        margin-bottom: 10px;
    }
    .rope_strands table {
        width: 100%;
    }
    .rope_strands .border_bottom {
        border-bottom: 1px solid;
    }
    .rope_strands table .bgGray {
        border-top: 1px solid #ddd;
    }
</style>