// пряди
<template>
    <div class="rope_strands" v-if="data_s.length > 0">
        <input type="button" class="btn btn-success" value="Сохранить"
               :disabled="disabled_s" v-on:click="save_s" />
        <a class="btn btn-danger" @click="get_diam_s(id_gost_r)"><i class="fa fa-refresh"></i> Обновить </a>
        <a class="btn btn-primary floatright" @click="update_all"><i class="fa fa-refresh"></i> Сохранить Все </a>
        <table cellspacing="0" cellpadding="2">
            <thead>
                <tr>
                    <th>Ø каната</th>
                    <th>конст-ия пряди</th>
                    <th>название</th>
                    <th>Ø пряди</th>
                    <th>шаг свивки пряди</th>
                    <th>
                        Кратность<br>
                        (для проволоки)
                    </th>
                    <th>
                        Кратность<br>
                        (пряди в канате)
                    </th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(diam, index) in data_s">
                    <template v-for="(item, key) in diam.list">
                    <tr class="bgGray">
                        <td><span v-if="item.index == 0">{{ diam.info.diam_r }}</span></td>
                        <td>{{ item.const }}</td>
                        <td>{{ item.name_strand }}</td>
                        <td><input type="number" class="input input-small" @change="eventChange(index, key)" v-model="item.diam_s" /></td>
                        <td><input type="number" class="input input-small" @change="eventChange(index, key)" v-model="item.step_s" /></td>
                        <td>{{ (item.step_s != null && item.step_s > 0 && item.diam_s != null && item.diam_s > 0) ?(item.step_s/item.diam_s).round(1) : null }}</td>
                        <td>{{item.Ki}} <span v-if="item.Ki != item.Ki_">({{item.Ki_}})</span></td>
                    </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    export default {
        name: 'ropeStrands',
        props: ['id_gost_r', 'diam_search', 'strand_r_selected'],
        data: function() {
            return {
                data_s: [],
                disabled_s: true,
                edit: {},
            }
        },
        watch: {
            id_gost_r: function(newVal) {
                this.data_s = [];
                this.edit = {};
                this.get_diam_s(newVal);
            },
            edit: function(newVal) {
                if (Object.keys(this.edit).length > 0)
                    this.disabled_s = false;
                else
                    this.disabled_s = true;
            }
        },
        beforeMount: function() {
            console.log('component rope_strands loaded');
            this.get_diam_s(this.id_gost_r);

        },
        methods: {
            // расчет кратности прядей в канате по формуле
            calc_multiple: function(str, index) {
                if (str.length > 0) {
                    if (typeof str == 'number') return str;
                    let cur = this.data_s[index]['list'];
                    let info = this.data_s[index]['info'];
                    let f = '';

                    f = str.replace(/дк/g, 'info["diam_r"]');
                    f = f.replace(/шк/g, 'info["step_r"]');
                    // f = f.replace(/\\[ш\\]/g, '"step_s"');
                    // f = f.replace(/\\[д\\]/g, '"diam_s"');

                    let reg = new RegExp ('\\[ш\\]', 'g');
                    f = f.replace(reg, '["step_s"]');
                    reg = new RegExp ('\\[д\\]', 'g');
                    f = f.replace(reg, '["diam_s"]');

                    for (let key in cur) {
                        f = f.replace(new RegExp(key, 'g'), `cur["${key}"]`);
                    }
                    let res = Math.ceil(eval(f) * 10) / 10;
                    return res;
                } else return 0;
            },
            setKi: function(index) {
                let cur = this.data_s[index]['list'];
                for (let key in cur) {
                    this.$set(cur[key], 'Ki', this.calc_multiple(cur[key]['formula'], index));
                }
            },
            update_all: function() {
                this.edit = {};
                this.data_s.forEach(function(item, index) {
                    for (let key in item['list']) {
                        let id = `${index}_${key}`;
                        this.edit[id] = item['list'][key];
                    }
                }, this);
                this.save_s();
            },
            get_diam_s: function(id_gost_r) { // получить список диаметров каната
                this.edit = {};
                let that = this;
                $.post('/edit/ajax_getStrandInfo/' + id_gost_r)
                    .done(function(res) {
                        let dt = JSON.parse(res);
                        that.data_s = dt;
                        if (that.data_s != null && that.data_s.length > 0) {
                            for (let index in that.data_s) {
                                that.setKi(index);
                            }
                        }
                    })
                    .fail(function(err) {
                        console.error('comp: rope_strand; method: get_diam_s(); error: ' + err + '; 1');
                    })
                    .always(function(){
                        that.$emit('dataloaded', true);
                    });
            },
            save_s: function() { // сохранить данные по прядям
                this.disabled_s = true;
                let that = this;
                $.post('/edit/ajax_save_s/', {
                    data_s: JSON.stringify(that.edit)
                })
                    .done(function(data) {
                        if(data == true) that.$emit('message', true);
                        else {
                            that.$emit('message', false);
                            console.error('comp: rope_strand; method: save_s(); error: false; 2');
                        }
                        that.get_diam_s(that.id_gost_r);
                        that.disabled_s = false;
                    })
                    .fail(function(err) {
                        that.$emit('message', false);
                        that.disabled_s = false;
                        console.error('comp: rope_strand; method: save_s(); error: ' + err + '; 3');
                    })
                    .always(function() {
                        that.edit = {};
                        that.get_diam_s(that.id_gost_r);
                    });
            },
            eventChange: function(index, key) {
                let id = `${index}_${key}`;
                this.$set(this.edit, id, this.data_s[index]['list'][key]);
                this.setKi(index);
            },
        }
    }
</script>

<style>
    .rope_strands .btn {
        margin-bottom: 10px;
    }
    .rope_strands table {
        width: 100%;
    }
    .rope_strands .border_bottom {
        border-bottom: 1px solid;
    }
    .rope_strands table .bgGray {
        border-top: 1px solid #ddd;
    }
    .rope_strands .floatright {
        float: right;
    }
</style>