<template>
    <div class="rope_cores" v-if="data_c.length > 0">
        <input type="button" class="btn btn-success" value="Сохранить"
               v-on:click="save_c" :disabled="disabled_c" />
        <table cellspacing="0" cellpadding="2">
            <thead>
                <tr>
                    <th>Ø каната</th>
                    <th>тип сердечника</th>
                    <th>Ø сердечника</th>
                    <th>шаг свивки сердечника</th>
                    <th>Кратность</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data_c" v-if="item.diam_r.indexOf(diam_search) != -1 || diam_search.length == 0" :key="index">
                    <td>{{item.diam_r}}</td>
                    <td>{{item.core}}</td>
                    <td><input type="number" :id="'data_c_2_'+index" value="item.diam_core" v-model="item.diam_core"/></td>
                    <td><input type="number" :id="'data_c_3_'+index" value="item.step_c" v-model="item.step_c" /></td>
                    <td v-if="item.diam_core != 0">{{(item.step_c/item.diam_core).round(1)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    export default {
        name: 'ropeCores',
        props: ['id_gost_r', 'diam_search'],
        data: function() {
            return {
                data_c: [],
                disabled_c: false,
            }
        },
        watch: {
            id_gost_r: function(newVal) {
                this.data_e = [];
                this.get_diam_c(newVal);
            }
        },
        beforeMount: function() {
            console.log('component rope_cores loaded');
            this.get_diam_c(this.id_gost_r);
        },
        methods: {
            get_diam_c: function(id_gost_r) { // получить список диаметров каната
                var that = this;
                $.post('/edit/ajax_get_data_c/', {
                    'id_gost_r': id_gost_r
                })
                    .done(function(data) {
                        data = JSON.parse(data);
                        that.data_c = data.data_c;
                    })
                    .fail(function(err) {
                        console.error('comp: rope_cores; method: get_diam_c(); error: ' + err + '; 1');
                        that.$emit('message', false);
                    })
                    .always(function(){
                        that.$emit('dataloaded', true);
                    });
            },
            save_c: function() { // сохранить данные по сердечнику
                this.disabled_c = true;
                let that = this;
                $.post('/edit/ajax_save_c/', {
                    data: JSON.stringify(that.data_c)
                })
                    .done(function(data) {
                        if(data == true) that.$emit('message', true);
                        else {
                            that.$emit('message', false);
                            console.error('comp: rope_cores; method: save_c(); error: false; 2');
                        }
                        that.get_diam_c(that.id_gost_r);
                        that.disabled_c = false;
                    })
                    .fail(function(err) {
                        that.$emit('message', false);
                        that.disabled_c = false;
                        console.error('comp: rope_cores; method: save_c(); error: ' + err + '; 3');
                    });
            },
        }
    }
</script>

<style scoped>
    .rope_cores .tbn {
        margin-bottom: 10px;
    }
    .rope_cores table {
        width: 100%;
    }
</style>