// операции
<template>
    <div class="rope_operations">
        <table cellspacing="0" cellpadding="2">
            <tr>
                <th></th>
                <th>Прядь</th>
                <th>Конструкция</th>
                <th>Операция</th>
            </tr>
            <tr>
                <td><input type="button" @click="operation_add" class="btn btn-success" value="Добавить" /></td>
                <td><select2 name="strand_cons" id="strand_cons" :options="strand_cons_list"
                             v-on:change="operation_cons_change" ></select2></td>
                <td><input type="text" v-model="operation_cons" style="margin: 0; border-radius: 6px;"></td>
                <td><select2 name="operation" id="operation" :options="operation_list"
                             v-on:change="operation_list_change"></select2></td>
            </tr>
            <tr><th></th><th></th><th><span style="color: red">{{error_operation_cons}}</span></th><th></th></tr>
        </table>
        <table id="operation" class="display compact" cellspacing="0" cellpadding="2"
               v-if="str_operation_list.length > 0">
            <tbody>
            <tr v-for="(item, index) in str_operation_list" :key="item.str_oper_id">
                <td style="width: 120px;">
                    <a rel="#" v-on:click="oparetion_del(index)">del</a> / edit</td>
                <td style="width: 220px;">{{strand_cons_list2[item.strand_const_id]}}</td>
                <td><input readonly type="text" :value="item.construction"></td>
                <td><select2 disabled :id="'ol_'+index" :options="operation_list" value="item.operation_id"></select2></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'ropeOperations',
        props: ['id_gost_r', 'operation_list'],
        data: function() {
            return {
                strand_cons_list: [],
                strand_cons_list2: [],
                selected_strand_cons: 0,
                str_operation_list: [],
                operation_cons: null, // конструкция операции
                error_operation_cons: ''
            }
        },
        watch: {
            id_gost_r: function(newVal) {
                this.strand_cons_list = [];
                this.strand_cons_list2 = [];
                this.str_operation_list = [];
                this.selected_strand_cons = 0;
                this.operation_cons = null;
                this.error_operation_cons = '';
                this.get_strand_operation(newVal);
                this.get_strand_cons(newVal);
            }
        },
        beforeMount: function() {
            console.log('component rope_operations loaded');
            this.get_strand_operation(this.id_gost_r);
            this.get_strand_cons(this.id_gost_r);
        },
        methods: {
            get_strand_cons: function(id_gost_r) {
                let that = this;
                $.post('/edit/ajax_get_strand_cons/' + id_gost_r, function(data) {
                    that.strand_cons_list = JSON.parse(data);
                    that.strand_cons_list2 = [];
                    if (that.strand_cons_list.length > 0) {
                        for (let item in that.strand_cons_list) {
                            that.strand_cons_list2[that.strand_cons_list[item].id] = that.strand_cons_list[item].text;
                        }
                        that.selected_strand_cons = that.strand_cons_list[0].id;
                    }
                }).fail(function(err) {
                    console.error('comp: rope_operations; method: get_strand_cons(); error: ' + err + '; 1');
                });
            },
            get_strand_operation: function(id_gost_r) {
                let that = this;
                $.post('/edit/ajax_get_strand_operation/' + id_gost_r, function(data) {
                    that.str_operation_list = JSON.parse(data);
                    that.strand_operation_info_lng = Object.keys(that.str_operation_list).length;
                }).fail(function(err) {
                    console.error('comp: rope_operations; method: get_strand_operation(); error: ' + err + '; 2');
                })
                .always(function(){
                    that.$emit('dataloaded', true);
                });
            },
            operation_add: function() { // добавление операции к прядям
                let that = this;
                if(this.operation_cons === null || this.operation_cons.trim() === '') this.error_operation_cons = 'Укажите конструкцию';
                else {
                    this.error_operation_cons = '';
                    let obj = {
                        'strand_const_id': that.selected_strand_cons,
                        'operation_id': that.selected_operation,
                        'construction': that.operation_cons
                    };
                    $.post('/edit/ajax_add_operation_to_strand/', {data: obj})
                            .done(function(data) {
                                if(data !== false) {
                                    that.get_strand_operation(that.id_gost_r);
                                    that.$emit('message', true);
                                }
                                else {
                                    that.$emit('message', false);
                                    console.error('comp: rope_operations; method: operation_add(); error: false; 3');
                                }
                            })
                            .fail(function(err) {
                                that.$emit('message', false);
                                console.error('comp: rope_operations; method: get_strand_cons(); error: ' + err + '; 4');
                            });
                }
            },
            oparetion_del: function(index) {
                let that = this;
                if(confirm('Также будут удалены связанные данный из раздела ПРЯДИ! Удалить?')) {
                    let arr = this.str_operation_list[index];
                    $.post('/edit/ajax_del_operation_in_strand/' + arr.str_oper_id, function (data) {
                        if (data == false) that.$emit('message', false);
                        else {
                            that.operation = true;
                            that.get_strand_operation(that.id_gost_r);
                            that.$emit('message', true);
                        }
                    })
                            .fail(function (err) {
                                that.$emit('message', false);
                                console.error('comp: rope_operations; method: get_strand_cons(); error: ' + err + '; 5');
                            });
                }
            },
            operation_cons_change: function(id) {
                this.selected_strand_cons = id;
            },
            operation_list_change: function(id) {
                this.selected_operation = id;
            },
        }
    }
</script>

<style scoped>
    .rope_operations table {
        width: 100%;
    }
</style>