<template>
    <div class="rope_diameters" v-if="data_r.length > 0">
        <input type="button" class="btn btn-success" value="Сохранить"
               v-on:click="save_r" :disabled="disabled_r" />
        <table cellpadding="2" cellspacing="0">
            <thead>
                <tr>
                    <th>Ø каната</th>
                    <th>шаг свивки каната</th>
                    <th>Кратность</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data_r" :key="index" v-if="item.diam_r.indexOf(diam_search) != -1 || diam_search.length == 0">
                    <td>{{item.diam_r}}</td>
                    <td>
                        <input type="number"
                               :id="'data_r_1_'+index"
                               value="item.step_r"
                               v-model="item.step_r"
                               class="input-small"/></td>
                    <td>{{(item.step_r/item.diam_r).round(1)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    export default {
        name: 'ropeDiameters',
        props: ['id_gost_r', 'diam_search'],
        data: function() {
            return {
                disabled_r: false,
                data_r: [],
            }
        },
        watch: {
            id_gost_r: function(newVal) {
                this.data_r = [];
                this.get_diam_r(newVal);
            }
        },
        beforeMount: function() {
            console.log('component rope_diameters loaded');
            this.get_diam_r(this.id_gost_r);
        },
        methods: {
            get_diam_r: function(id_gost_r) { // получить список диаметров каната
                let that = this;
                $.post('/edit/ajax_get_data_r/', {
                    'id_gost_r': id_gost_r
                })
                    .done(function(data) {
                        data = JSON.parse(data);
                        that.data_r = data.data_r;
                    })
                    .fail(function(err) {
                        console.error('comp: ropes; method: get_diam_r(); error: ' + err + '; 1');
                    })
                    .always(function(){
                        that.$emit('dataloaded', true);
                    });
            },
            save_r: function() { // сохранить данные по канату
                this.disabled_r = true;
                let that = this;
                $.post('/edit/ajax_save_r/', {data: that.data_r})
                    .done(function(data) {
                        if(data == true) that.$emit('message', true);
                        else {
                            that.$emit('message', false);
                            console.error('comp: ropes; method: save_r(); error: false; 2');
                        }
                        that.get_diam_r(that.id_gost_r);
                        that.disabled_r = false;
                    }).fail(function(err) {
                        that.$emit('message', false);
                        that.disabled_r = false;
                        console.error('comp: ropes; method: save_r(); error: ' + err + '; 3');
                    });
            },
        }
    }
</script>

<style scoped>
    .rope_diameters .btn {
        margin-bottom: 10px;
    }
    .rope_diameters table {
        width: 30%;
    }
    .rope_diameters table > tbody > tr {
        margin-bottom: 10px;;
    }
</style>