// Конструкция прядей в канате
<template >
    <div class="strand_const" v-if="visible">
        <input type="button"
               @click="save"
               :disabled="edit.length == 0"
               class="btn btn-success" value="Сохранить" />
        <a class="btn btn-danger" @click="getFetch(id_gost_r)"><i class="fa fa-refresh"></i> Обновить </a>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Кол-во прядей</th>
                        <th rowspan="2">Кол-во проволок</th>
                        <th rowspan="2">Конструкция</th>                        
                        <th rowspan="2">Расчет кратности<br> пряди в канате</th>
                        <td colspan="2">Свивка каната <b>крестовый</b></td>
                        <td colspan="2">Свивка каната <b>односторонний</b></td>                        
                    </tr>
                    <tr>
                        <th>правый (Z)</th>
                        <th>левый (S)</th>
                        <th>правый (Z)</th>
                        <th>левый (S)</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(strand, index) in strands" :key="index">
                        <td :class="{tab: (strand.id == null) }">
                            <span v-if="strand.strand_short == null">{{ strand.name }}</span>
                            <span v-else>{{ strand.strand_short}}</span>
                        </td>
                        <td><input type="number" class="input input-mini" min="0" step="1"
                                   @change="eventChange(index)"
                                   v-model.lazy="strand.amount"></td>
                        <td><input type="number" class="input input-mini" min="0" step="1"
                                   @change="eventChange(index)"
                                   v-model.lazy="strand.amount_w"></td>
                        <td>
                            <input type="text" class="input"
                                   @change="eventChange(index)"
                                   v-model.lazy="strand.const"
                                   v-if="!strand.id_strand_operation">
                            <span v-else>{{ strand.const }}</span>
                        </td>
                        <td><input-auto :id="`text_${index}`"
                                        :list="var_list"
                                        @change="eventChange(index)"
                                        @focus="setIndex(index)"
                                        @input="addFormula"
                                        :value="strand.formula"></input-auto>
                        </td>
                        <td> <npsv-select :id="'npsv_right'+index"
                                          :options="npsv"
                                          :select_element="strand.Z"
                                          :myclass="'input input-small'"
                                          :tmp="{'npsv': 'Z', 'index': index}"
                                          @select="npsvChange"></npsv-select>
                        </td>
                        <td><npsv-select :id="'npsv_left'+index"
                                         :options="npsv"
                                         :select_element="strand.S"
                                         :tmp="{'npsv': 'S', 'index': index}"
                                         :myclass="'input input-small'"
                                         @select="npsvChange"></npsv-select>
                        </td>
                        <td> <npsv-select :id="'npsv_oright'+index"
                                          :options="npsv"
                                          :select_element="strand.oZ"
                                          :myclass="'input input-small'"
                                          :tmp="{'npsv': 'oZ', 'index': index}"
                                          @select="npsvChange"></npsv-select>
                        </td>
                        <td><npsv-select :id="'npsv_oleft'+index"
                                         :options="npsv"
                                         :select_element="strand.oS"
                                         :tmp="{'npsv': 'oS', 'index': index}"
                                         :myclass="'input input-small'"
                                         @select="npsvChange"></npsv-select>
                        </td>                        
                        <td v-if="strand.id_strand_r == 7">
                                <i class="fa fa-trash fa-2x" @click="delMetalCore(index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="link"
                 v-if="add_metal_core"
                 @click="addMetalCore">Добавить металлический сердечник ...</div>
        <hr />
        <h4>Переменные для расчета кратности пряди в канате:</h4>
        <ul>
            <li v-for="(item, index) in var_list" :key="index">{{item}}</li>
        </ul>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    const regexp = /[А-Я]/gi;
    import npsvSelect from './select/my_select.vue'
    import inputAuto from './autocomplete/autocomplete.vue'

    export default {
        name: 'strandConst',
        props: {
            id_gost_r: {
                type: Number,
                default: 0
            },
            npsv: {
                type: Array,
                default: () => []
            },
            id_npsv: {
                type: Number,
                default: 1
            }
        },
        data: function() {
            return {
                strands: [],
                visible: false,
                add_metal_core: false,
                edit: [],
                var_list: [],
                text: '',
                cur_index: 0
            }
        },
        components: {
            npsvSelect, inputAuto
        },
        watch: {
            id_gost_r: function(newVal) {
                this.var_list = [];
                this.add_metal_core = false;
                this.visible = false;
                this.strands = [];
                this.edit = [];
                this.getFetch(newVal);
            }
        },
        beforeMount: function() {
            console.log('component strand_const loaded');
            this.getFetch(this.id_gost_r);
        },
        methods: {
            getVar: function() {
                this.var_list.push('шк');
                this.var_list.push('дк');
                this.strands.forEach(function(item) {
                    this.var_list.push(`${item.var}[ш]`);
                    this.var_list.push(`${item.var}[д]`);
                }, this)
            },
            getFetch: function(id_gost_r) {
                this.var_list = [];
                let that = this;
                that.visible = false;
                // получаем список прядей
                fetch('/edit/ajax_getStrandEdit/' + id_gost_r)
                    .then(function(res) {
                        if (res.status == 200) {
                            return res.json();
                        } else {
                            console.error('comp: strand_const; method: getFetch(); status: ' + res.status + '; error: 1;');
                            return null;
                        };
                    })
                    .then(function(data) {
                        if (data.length == 0) {
                            console.error('comp: strand_const; method: getFetch(); error: EMPTY DATA;');
                        }
                        else {
                            that.add_metal_core = data.every(function(item) {
                                return Number(item.id_strand_r) !== 7 ? true : false;
                            });
                            that.strands = data;
                            that.getVar();
                            that.visible = true;
                            that.$emit('dataloaded', true);
                        }
                    })
                    .catch(function(err) {
                        console.error('comp: strand_const; method: getFetch(); error: 3; ' + err + ' -==- ' + url);
                    });
            },
            addMetalCore: function() {
                this.add_metal_core = false;
                this.strands.push({
                    name: 'Металлический сердечник',
                    amount: 0,
                    amount_w: 0,
                    const: '',
                    id_strand_r: 7,
                    rope: 'N',
                    id: 0
                });
            },
            delMetalCore: function(index) {
                let id = this.strands[index].id;
                let that = this;
                fetch('/edit/ajax_delete_strand_const/' + id)
                    .then(function(res) {
                        if (res.status == 200) {
                            that.strands.splice(index, 1);
                            that.edit.splice(index, 1);
                            that.add_metal_core = true;
                        } else {
                            console.error('comp: strand_const; method: delMetalCore(); error: ' + res.status);
                            that.$emit('message', false);
                        }
                    })
                    .catch(function(err) {
                        console.error('comp: strand_const; method: delMetalCore(); error: ' + err);
                        that.$emit('message', false);
                    });
            },
            eventChange: function(index) {
                this.edit[index] = this.strands[index];
            },
            setIndex: function(index) {
                this.cur_index = index;
            },
            npsvChange: function(val, text, other, tmp) {
                this.$set(this.edit, tmp.index, this.strands[tmp.index]);
                if (tmp.npsv == 'Z') {
                    this.edit[tmp.index]['Z'] = other.id;
                } else if (tmp.npsv == 'S') {
                    this.edit[tmp.index]['S'] = other.id;
                } else if (tmp.npsv == 'oZ') {
                    this.edit[tmp.index]['oZ'] = other.id;
                } else if (tmp.npsv == 'oS') {
                    this.edit[tmp.index]['oS'] = other.id;
                }
            },
            save: function() {
                const that = this;
                $.post('/edit/ajax_save_strand_const/', {
                    strands: that.edit,
                    id_gost_r: that.id_gost_r
                })
                .done(function(data) {
                    that.strands = JSON.parse(data);
                    that.$emit('message', true);
                })
                .fail(function(err) {
                    console.error('comp: strand_const; method: save(); error: ' + err);
                    that.$emit('message', false);
                });
            },
            addFormula: function(text) {
                this.strands[this.cur_index]['formula'] = text;
            }
        },
    }
</script>

<style>
    .strand_const {
        --border-color: #dbdbdb;
        --link-color: #e9322d;
        --link-hover-color: #a42823;
    }
    .strand_const {
        padding: 10px;
        border-bottom: 1px solid var(--border-color);
    }
    .strand_const table thead,
    .strand_const table tr {
        border-bottom: 1px solid var(--border-color);
    }
    .strand_const table tr:last-child {
        border-bottom: 0;
    }
    .strand_const table th,
    .strand_const table td{
        padding: 3px;
        border-right: 1px solid var(--border-color);
    }
    .strand_const .link,
    .strand_const .fa {
        cursor: pointer;
        color: var(--link-color);
    }
    .strand_const .link:hover,
    .strand_const .fa:hover {
        color: var(--link-hover-color);
    }
    .strand_const .btn {
        margin-bottom: 10px;
    }
    .strand_const .btn .fa {
        color: #fff;
    }
    .strand_const .tab {
        padding-left: 30px;
    }
    .strand_const .input-small {
        width: 100px!important;
    }
</style>