// Проволоки в пряди
<template>
    <div class="wires_in_strand" v-if="!dataEmpty">
        <table >
            <thead>
                <tr>
                    <th>Конструкция</th>
                    <td v-for="(item, ind) in construction_array" nowrap="nowrap" :key="ind" v-if="item != ''" v-html="item"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Диаметр проволоки<br>(изначально)</th>
                    <template v-for="item in diam_w" nowrap="nowrap" >
                        <td></td>
                        <td class="border_right">{{item.diam_w}}</td>
                    </template>
                </tr>
                <tr style="border-top: 1px solid #EEEEEE">
                    <th>Диаметр проволоки<br>(изменить на)</th>
                    <template v-for="item in strand_sequence_list" nowrap="nowrap" v-if="show_pos">
                        <template v-for="(diam, key) in diam_w_list[item].length">
                            <td></td>
                            <td class="border_right">
                                <select2_new class="input-mini"
                                             :id="'pos_diam_w_' + item + '_' + diam_w_list[item][key].id + '_' + id_gost_r"
                                             :options="diam_w_list[item]"
                                             :placeholder="'Диам.'"
                                             :addempty="true"
                                             :send_data="key"
                                             @change="select_diam_w_pos"></select2_new>
                            </td>
                        </template>
                    </template>
                </tr>
            </tbody>
        </table>
        <input type="button" class="btn btn-success"
               style="margin-top: 20px; margin-bottom: 10px;"
               @click="save_diam_w_pos" value="Сохранить"
               :disabled="disabled_r"/>
    </div>
    <h4 v-else>Отсутствуют диаметры или нормы</h4>
</template>

<script>
    export default {
        name: 'wiresStrand',
        props: ['construction', 'id_diam', 'id_gost_r'],
        data: function() {
            return {
                construction_array: '',
                diam_w: [],
                diam_w_list: [],
                strand_sequence_list: [],
                diam_w_posit_new: [],
                show_pos: false,
                disabled_r: false,
                dataEmpty: false
            }
        },
        watch: {
            construction: function(newVal) {
                this.constr_to_array();
            },
            id_diam: function(newVal) {
                this.diam_w = [];
                this.diam_w_list = [];
                this.strand_sequence_list = [];
                this.diam_w_posit_new = [];
                this.dataEmpty = false;
                this.get_tab();
            }
        },
        beforeMount: function() {
            console.log('component wires_in_strand loaded');
            this.constr_to_array();
            this.get_tab();
        },
        methods: {
            constr_to_array: function() { //разбиваем конструкцию каната на массив
                var construct_str = this.construction;
                construct_str = construct_str.replace(/\+/g, "!+!");
                construct_str = construct_str.replace(/\|/g, "!|!");
                construct_str = construct_str.replace(/\;/g, "!;!");
                construct_str = construct_str.replace(/\//g, "!/!");
                construct_str = construct_str.replace(/\(/g, " <b><font color=\"#CC0000\" >(!");
                construct_str = construct_str.replace(/\)/g, "!<b><font color=\"\#CC0000\">)!");
                construct_str = construct_str.replace(/\)!!\+!/g, ")</font></b>+");
                construct_str = construct_str.replace(/\(!0!/g, "(</font></b>0");
                construct_str = construct_str.replace(/\(!о.с.!/g, "(</font></b>о.с.");
                construct_str = construct_str.replace(/\)!!\/!/g, "!<b><font color=\"\#CC0000\">)</font></b>/!");
                construct_str = construct_str.replace(/\(!эл\.пр\.!/g, "(</font></b>эл.пр.");
                construct_str = construct_str.replace(/\(!1заготовка!/g, "(</font></b>1заготовка");
                construct_str = construct_str.replace(/0!\+!/g, "0+!");
                construct_str = construct_str.replace(/\)\<\/font\>\<\/b\>\/!/g, ")</font></b>/");
                construct_str = construct_str.replace(/!\<b\>\<font color\=\"\#CC0000\"\>!/g, "!");
                construct_str = construct_str.replace(/\+1о/g, "+!1о");
                construct_str = construct_str.replace(/\+3о/g, "+!3о");
                construct_str = construct_str.replace(/\/3о/g, "/!3о");
                this.construction_array = construct_str.split('!');
            },
            get_tab: function() {
                this.diam_w = [];
                this.diam_w_list = [];
                this.strand_sequence_list = [];
                this.diam_w_posit_new = [];
                this.dataEmpty = false;
                const that = this;
                fetch('/content/getPLYSpinup/' + that.id_diam)
                        .then(function(res) {
                            if (res.status == 200) {
                                return res.json();
                            } else {
                                console.error('comp: wires_in_strand; method: get_tab(); status: ' + res.status + '; error: 1;');
                                that.dataEmpty = true;
                                that.$emit('message', false);
                                return null;
                            }
                        })
                        .then(function(data) {
                            that.diam_w = data;
                            if (data.length > 0) {
                                data.forEach(function(item, i){
                                    if (!that.diam_w_list.hasOwnProperty(item.id_strand_r)) {
                                        that.diam_w_list[item.id_strand_r] = [];
                                    }
                                    that.strand_sequence_list.pushIfNotExist(item.id_strand_r);
                                    that.diam_w_list[item.id_strand_r].push( {
                                        id: item.id_p_s,
                                        text: item.diam_w
                                    } );
                                });
                                that.show_pos = true;
                            } else that.dataEmpty = true;
                        })
                        .then(function() {
                            that.$emit('dataloaded', true);
                        })
                        .catch(function(err) {
                            that.dataEmpty = true;
                            console.error('comp: wires_in_strand; method: get_tab(); error: 2; ' + err + ' -==- ' + url);
                            that.$emit('message', false);
                        });
            },
            select_diam_w_pos: function(val, ind, arr, key){
                this.diam_w_posit_new[arr.id] = {
                    'id_gost_r': this.id_gost_r,
                    'ply': Number(key) + 1,
                    'id_ply_strand': arr.id,
                };
            },
            // сохраняем новое положение проволок
            save_diam_w_pos: function() {
                this.disabled_r = true;
                const that = this;
                $.post('/edit/ajax_save_diam_w_pos/', {data: that.diam_w_posit_new})
                        .done(function(data) {
                            if(data == 'true') {
                                that.$emit('message', true);
                                that.get_tab();
                            }
                            else that.$emit('message', false);
                            that.diam_w_posit_new = [];
                            that.disabled_r = false;
                        })
                        .fail(function() {
                            that.disabled_r = false;
                            console.error('comp: wires_in_strand; method: save_diam_w_pos(); error: 1');
                            that.$emit('message', false);
                        });
            },
        },
    }

    // добавить в массив если элемента нет
    Array.prototype.pushIfNotExist = function(element) {
        if (this.length == 0) {
            this.push(element);
        }
        else {
            if (this.indexOf(element) == -1) {
                this.push(element);
            }
        }
    };
</script>

<style>
    .wires_in_strand table th {
        padding-right: 10px;
    }
    .border_right {
        border-right: 1px solid #EEEEEE
    }
    .border_right:last-child {
        border-right: 0
    }
</style>