<template>
    <div class="autocomplete" :id="id">
        <input type="text" :placeholder="placeholder" :class="class_input"
               :ref="`input_${id}`"
               @input="input_text"
               @focus="$emit('focus', $event)"
               @keyup="autocomplete($event, text)"
               v-model="text">
        <div class="autocomplete-items" :class="{'autocomplete-items-show': show}">
            <div v-for="(item, index) in filter_list" :key="index" @click="add(item)">{{item}}</div>
        </div>
    </div>
</template>

<script>
    const regexp_ru = /[А-Я]/gi,
          regexp_en = /[A-Z]/gi;
    export default {
        props: {
            list: {
                type: Array,
                default: () => []
            },
            class_input: {
                type: String,
                default: null
            },
            id: {
                type: String,
                default: 'idInput'
            },
            value: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                show: false,
                text: '',
                input_new_text: '',
                filter_list: []
            }
        },
        beforeMount() {
            this.text = this.value;
        },
        watch: {
            text(newVal) {
                if (newVal != null && newVal.length == 0) {
                    this.show = false;
                    this.input_new_text = '';
                }
            }
        },
        methods: {
            add(item) {
                let lng_new = this.input_new_text.length;
                let lng = this.text.length;
                this.text = this.text.substring(0, lng-lng_new);
                this.text += item;
                this.show = false;
                this.$refs[`input_${this.id}`].focus();
                this.$emit('input', this.text);
            },
            input_text() {
                this.show = true;
                this.$emit('input', this.text);
            },
            autocomplete: function(eve, text) {
                if (eve.key == 'Escape') {
                    this.input_new_text = '';
                    this.show = false;
                }
                else if (eve.key == 'Backspace')
                    this.input_new_text = this.input_new_text.substring(0, this.input_new_text.length - 1);
                else if (eve.key.length == 1 && eve.key.match(regexp_en)) {
                    this.text = this.text.substring(0, this.text.length - 1);
                    return null;
                }
                else if (text.length > 0) {
                    let lng = text.length - 1;
                    let symbol = text[lng];
                    if (symbol.match(regexp_ru))
                        this.input_new_text += symbol;
                    else
                        this.input_new_text = '';
                }
                this.filter_list = this.list.filter(function(val){
                    let regex = new RegExp(`${this.input_new_text}`, 'i');
                    return val.match(regex);
                }, this);
            }
        }
    }
</script>

<style>
    .autocomplete {
        position: relative;
        display: inline-block;
    }
    /*.autocomplete input {*/
        /*border: 1px solid transparent;*/
        /*background-color: #f1f1f1;*/
        /*padding: 10px;*/
        /*font-size: 16px;*/
    /*}*/
    /*.autocomplete input[type=text] {*/
        /*background-color: #f1f1f1;*/
        /*width: 100%;*/
    /*}*/
    .autocomplete-items {
        display: none;
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items-show {
        display: inline-block;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>